
#sail-top {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    height: 50vh;
    width: 100vw;
    /* background: #0f110e; */
    background: rgba(26, 27, 41, 1);
    transform: translate3d(0,0%,0);
    opacity: 1;
}
#sail-bot {
    position: fixed;
    z-index: 10000;
    top: 50%;
    left: 0;
    height: 50vh;
    width: 100vw;
    /* background: #0f110e; */
    background: rgba(26, 27, 41, 1);;
    transform: translate3d(0,0%,0);
    opacity: 1;
}

